<div class="navbar" *ngIf="!isAdminLogged && !isEmployeeLogged">
    <mat-toolbar color="primary" class="navbar">
      <span class="navbar-brand">Employee Management System</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
    </mat-toolbar>
</div>

<div class="navbar" *ngIf="isAdminLogged">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Admin Dashboard </span>
    <span class="spacer"></span>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
</div>

<div class="navbar" *ngIf="isEmployeeLogged">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Employee Dashboard</span>
    <span class="spacer"></span>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
</div>


<router-outlet></router-outlet>